body {
  font-family: 'poppins', sans-serif;
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 200px;
  height: 20px;
  padding: 10px;
  padding-left: 10px;
  margin-left: 8%;
  margin-bottom: 10px;
  margin-right: 7%;
  font-size: 1.5rem;
}

.Book-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  display: block;
  padding: 1px 10px;
  margin-right: 5px;
  border: 3px black solid;
}

.button-add {
  margin-left: 53.5%;
}

#book-list {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;
}

.book {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-top: 5px;
}

.book:nth-child(odd) {
  background-color: rgb(212, 209, 209);
}

.underlined {
  width: 5%;
  height: 0.5px;
  border-top: 3px gray groove;
  margin-left: 47.5%;
  margin-top: 20px;
}

.button_container {
  width: 224px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.margin-right0 {
  margin-right: unset;
}

footer {
  display: flex;
  border: 2px solid black;
}

nav ul li {
  list-style: none;
  cursor: pointer;
}

.container {
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: space-between;
}

nav ul {
  display: flex;
  margin: unset;
  gap: 10px;
}